/frontend/node_modules
/frontend/build
/frontend/.eslintcache

/backend/node_modules
/backend/build
/backend/*.log
/backend/*.log.gz
/backend/application.log
/backend/*-audit.json
/backend/coverage
/backend/.nyc_output

/docker/.env.prod
/docker/.env

.bash_*
.bashrc

.DS_Store