.network-modules {
  display: flex;
  flex-grow: 2;
  .box-wrapper {
    flex-grow: 1;
  }
  .box-wrapper:not(:last-child) {
    margin-right: 1em;
  }
}
.other-modules {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .box-wrapper {
    flex-grow: 1;
  }
}

.modules {
  .add {
    color: $white;
    margin: $spacer;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    h4 {
      color: $white;
    }
    button {
      color: $white;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.module-wrapper {
  height: 100%;
  h2 {
    box-sizing: border-box;
    height: $module-header-height;
  }
}
