.network-modules {
  display: flex;
  flex: 2;
  .box-wrapper {
    flex: 1;
  }
}
.other-modules {
  display: flex;
  flex-direction: column;
  flex: 1;
  .box-wrapper {
    flex: 1;
  }
}

.modules {
  .box-wrapper {
    margin-left: 1em;
  }
}

.module-wrapper {
  height: 100%;
  .title {
    box-sizing: border-box;
    height: $module-header-height;
    padding: 0rem 3rem 0 0.5rem;
    border-bottom: 2px solid $primary;
    display: flex;
    h2 {
      margin: auto 0 auto 0;
    }
  }

  .data-grid {
    height: calc(100% - #{$module-header-height}* 2) !important;
  }
  .scope {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .selection-action {
      vertical-align: bottom;
      padding: 0;
      > i > svg {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
  .scope-actions {
    height: #{$module-header-height};
    display: flex;
    align-items: center;
    justify-items: start;
    .btn {
      padding: 0.2em;
      margin-left: 0.5em;
    }
    .btn:last-child {
      margin-right: 0.5em;
    }
  }
  .data-grid-footer {
    border-top: 1px solid $secondary;
  }
}
