.network-modules {
  display: flex;
  flex: 2;
  .box-wrapper {
    flex: 1;
  }
}
.other-modules {
  display: flex;
  flex-direction: column;
  flex: 1;
  .box-wrapper {
    flex: 1;
  }
}

.modules {
  .box-wrapper {
    margin-left: 1em;
  }
}

.module-wrapper {
  height: 100%;
  .title {
    box-sizing: border-box;
    height: $module-header-height;
    padding: 0rem 3rem 0 0.5rem;
    border-bottom: 2px solid $primary;
    display: flex;
    h2 {
      margin: auto 0 auto 0;
    }
  }
}
